<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node app</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga quidem ipsa necessitatibus vel veritatis maiores possimus quo ea laboriosam quisquam ipsam ad repellat at quaerat nulla accusantium aliquam officiis maxime, libero inventore! Vitae architecto in magnam mollitia, aliquam accusamus!</p>
</body>
</html>